@use "../../variables.scss";

.monitor-page {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: variables.$page-padding;
  width: 100%;

  .card {
    padding: 0;

    h3 {
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: 0;
      padding: 0.5em;
      cursor: pointer;
    }

    span {
      display: block;
    }

    > div {
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;
      padding: 0.5em;

      &:nth-child(even) {
        backdrop-filter: brightness(90%);
      }
    }
  }

  .button {
    align-self: flex-end;
  }
}
