@use "../../variables.scss";

.monitor-page {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: variables.$page-padding;
  width: 100%;

  .card {
    span {
      display: block;
    }

    > div {
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;
      padding: 0.5em;

      &:nth-child(even) {
        backdrop-filter: brightness(90%);
      }
    }
  }

  .actions {
    display: flex;
    align-self: flex-end;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--text-color);
  }
}
