@use "../../variables.scss";

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  flex-grow: 1;
  width: 100%;
  height: 100%;

  > div {
    flex-grow: 0;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: 4px solid var(--secondary-color);
    border-top-color: var(--accent-color);
    border-radius: 50%;
    animation: rotate 1s linear infinite;
  }
}
