@use "../../variables.scss";

.not-found {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: variables.$page-padding;
  flex-grow: 1;
  color: var(--text-color);

  p {
    font-weight: 600;
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }
}
