@use "../../variables.scss";

.modal-consumer-backdrop {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  box-sizing: border-box;
  margin: -1em;
  transition: opacity variables.$transition;
  backdrop-filter: blur(5px);
  pointer-events: none;

  > * {
    pointer-events: all;
    filter: opacity(100%);
  }
}

.cosumer-open {
  pointer-events: all;
}

.modal-child {
  position: fixed;
  display: flex;
  justify-content: center;

  @media (max-width: variables.$screen-md) {
    width: 100%;
    height: 100%;
  }
}
